/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.popover{
  max-width: 100%;
  min-width: 30vw;
}

.text-primary {
  color: #0074d9;
}

.text-danger {
  color: #ff4136;
}

/* .card-header {
  background-color: rgba(245,242,214,0.8)
  
} */

.navbar {
  background-color:  rgba(235,228,180,0.8);
}